<% if @game.turn.hp <= 0 %>

With a final strike of <%= @game.turn.dmg %> damage! <br><br>
<h1><%= @game.opponent.name.upcase %> WINS!!!</h1>
<br><br>
<form action="/">
  <input type="submit" value="Start new match!"/>
</form>

<% else %>

    <% if @game.player_1.poison == true  %>
    <%= @game.player_1.name %> is poisoned!!!
    <br><br>
    <% end %>

    <% if @game.player_2.poison == true  %>
    <%= @game.player_2.name %> is poisoned!!!
    <br><br>
    <% end %>

    <% if @game.turn.poison == true %>
    <%= @game.turn.name %> is hurt by poison!
    <br><br>
    <% end %>

<% if @game.turn.healed > 0 %>
<%= @game.turn.name %> heals by <%= @game.turn.healed %><br><br>
<% if @game.turn.healed == 5 %>
Poison has been removed by heal! <br><br>
<% end %>
<% else %>
<%= @game.turn.name %> attacks <%= @game.opponent.name %> for <%= @game.opponent.dmg %> damage!
<br><br>
<% end %>

<%= @game.player_2.name %>: <%= @game.player_2.hp %> hp
<br><br>
<%= @game.player_1.name %>: <%= @game.player_1.hp %> hp
<br><br>

<form action="/play">
  <input type="submit" value="Continue"/>
</form>

<% end %>
